<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table>
      <tr>
        <th>错误</th>
        <th>数量</th>
      </tr>
      <% for (var i = 0, max = list.length; i < max; i++) {%>
        <% var item = list[i]; %>
        <tr>
          <td><%= item.message %></td>
          <td><%= item.length %></td>
        </tr>
      <% } %>
    </table>
  </body>
</html>
