/* module: reset tag */
/*html { overflow-y:scroll; *overflow: auto; }*/
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dd,dt,p,hr,blockquote,address,pre,code,form,fieldset,legend,textarea,input,button,th,td{ margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
li{ list-style: none; }
a { text-decoration: none;}
a:hover { text-decoration: underline; }
a:focus{ outline: none; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
body,button, input, select, textarea { font: 14px/1.5 '\5b8b\4f53', Tahoma, Helvetica, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal;}
address, cite, dfn, em, var,th,em,i { font-style: normal; font-weight: normal;}
code, kbd, pre, samp,tt { font-family: Lucida Console, Monaco, Courier New, mono, monospace; }
small { font-size: 12px; }
abbr, acronym { border: 0;}
button, input, select, textarea { font-size: 100%; }
th{font-weight:bold;}
caption,tr,th {text-align:center;}
th,td { padding: 0; border:1px solid #000; }
legend { color: #000;}
q:before, q:after { content: '';}
hr { margin: 1em 0; }

/* module: normal class */
.clearfix:after {
  content: "\20";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow:hidden;
}
.clearfix{display: block;*zoom:1;}
.clear,.blank,.blank5,.blank10,.blank20{ clear: both; }
.blank,.blank5,.blank10,.blank20{ overflow: hidden; }
.blank{ height: 0; }
.blank5{ height: 5px; }
.blank10{ height: 10px; }
.blank20{ height: 20px; }
