{% extends "/include/base.html" %}

{% block navBar %}
  <header class="bar bar-nav">
    <h1 class="title">我的生活</h1>
  </header>
{% endblock %}

{% block content %}
  <div class="content-padded">
    欢迎来到首页测试
    <div class="list-block">
      <ul>
        <li class="item-content">
          <a href="/demos/demo1.html" class="item-inner">
            <div class="item-title">demo1</div>
            <span class="icon icon-right"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
