<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="http://127.0.0.1:4001/xxx" method="POST">
      <input type="hidden" value="111" name="test" />
      <input type="submit" value="提交" />
    </form>

    <script>
      // 跨域请求，自定义头部，附带 cookie，都是被禁止的
      $.ajax({
        url: 'http://localhost:4001/',
        type: 'GET',
        // headers: {
        //   'X-Requested-By': location.host
        // },
        // xhrFields: {
        //   withCredentials: true
        // }
      })
        .done(function(txt) {
          console.log('跨站请求' + txt);
        });

      $.ajax({
        url: '/users',
        type: 'POST',
        headers: {
          'X-Requested-By': location.host
        },
        data: {
          name: 'da宗熊'
        }
      })
        .done(function(txt) {
          console.log('本站请求:' + txt);
        });
    </script>
  </body>
</html>
