@charset "GB2312";
/* version: 2008.12.25 */
/* 
reset: Resets default browser CSS.
Based on work by Eric Meyer: meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ 
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;padding:0;vertical-align:baseline;}
body{line-height:1.5;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{font-weight:400;text-align:left;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}a img{border:none;}
html{height:100%; width:100%;}
ul,ol{list-style:none; list-style-position:outside;}
/*-------------------------------------------------------------------------------------
  Style for Basic Elements & Classses :
 */
body{
 font-size:12px;
 font-family:"宋体";
 line-height:170%;
}


/*anchor: */
a{color:#9E6121}
a:link{}
a:active{}
a:visited{}
a:hover{}

/*text img align: */
.text-hot{}
.text-alt{color:#c00; font-weight:bold;}
.green{color: #0a3600;}
.redb{color:red;font-weight: bold;}
.red{color: red;}
.blue{color: blue;}
.purple{color: #FF00CC;}
.fuchsia{color: fuchsia;}
.orange{color: #ff6600;}
.blacksmall{color:black;line-height:150%}
.redsmall{color:red;}
.b{font-weight:bold;}

/*table: */
.tablepad{border-top:1px solid #4d7062;border-left:1px solid #4d7062;}
table[class=tablepad]{margin:auto;}
.tablepad td{padding:5px;border-bottom:1px solid #4d7062;border-right:1px solid #4d7062; background:#efefdf; color:#03321d; }
.tablepad thead td{font-weight:bold; text-align:center;}
.tableblue td{background:#d9bf79;}
.table3 {background:none;border-width:0;}
.table3 td {padding:5px;}

.align-right{text-align:right;}
.align-center{text-align:center;}
.align-left{text-align:left;}

.img-left{float:left;margin:4px 10px 4px 0;}
.img-right{float:right;margin:4px 0 4px 10px;}	

/*general elements: */
.float-left{display:inline; float:left;}
.float-right{display:inline; float:right;}
.float-clear{clear:both;}

.hide{display:none;}
.blank, .blank10, .blank15, .blank20, .blank30{width:auto; height:10px; overflow:hidden; clear:both;}
.blank10 { height: 10px; }
.blank15 { height: 15px; }
.blank20 { height: 20px; }
.blank30 { height: 30px; }
.cover{background-color:#f00;filter:alpha(opacity=60);-moz-opacity:.60;opacity:0.6;}

.clearfix:after {
  content: "\20";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow:hidden;
}
.clearfix{display: block;*zoom:1;}


/*---------------------------------------------------------------------------------------
  Style for Pages :
 */
 body{background:url(../images/bg_repeat.jpg) #d2b27e;}
.page{min-width:988px; max-width:1280px; margin:auto; width:auto; padding-top:9px;}
.head{background:url(../images/header.png) no-repeat; position:relative; width:968px; height:70px; margin-top:20px; margin:auto; overflow:hidden; padding:17px 10px;color:#e8d7af; }
.head a{color:#e8d7af;}
.head ul{/*width:250px;*/ position:absolute; top:70px; right:10px;}
.head li{float:left; display:inline; margin-left:10px;}
.head li a{color:#fffcf2;}
.necker{background:url(../images/necker.png) no-repeat; width:988px; height:34px; margin:12px auto 14px auto; overflow:hidden;}
.cont{width:988px; margin:auto;}
.foot{
 text-align:center;
 padding-top:10px;
 font-family:Geneva, Arial, Helvetica, sans-serif;
 color:#000;
}
.foot a{color:#000;}


/*body#index: ------------------------------------------------------*/

#intro{background:url(../images/intro-20121122.jpg) no-repeat; width:286px; position:relative; height:368px; float:left; display:inline; margin-right:10px; padding:60px 27px 30px;}
#intro p{text-indent:2em; line-height:1.8;}

#guide{background:url(../images/guide.jpg) no-repeat; width:276px; height:62px; position:absolute; top:250px; left:25px; padding-top:40px; color:#337256; margin-top:36px;}
#guide a{color:#337256;}

#servers{background:url(../images/servers-20121122.jpg) no-repeat; width:638px; height:438px; overflow:hidden; float:left; display:inline; position:relative;}
#servers .areas{position:absolute; width:330px; height:26px; top:105px; left:42px;}
#servers .areas li{float:left; width:71px; height:26px; overflow:hidden; display:inline; margin-right:10px;}
#servers .areas a{display:block; width:71px; height:26px; overflow:hidden; text-indent:-9999px; background:#ccc url(../images/area.png) no-repeat;}

#servers #link_102{background-position:0 0;}
#servers #link_103{background-position:-71px 0;}
#servers #link_104{background-position:-142px 0;}
#servers #link_105{background-position:-213px 0;}
#servers .alt #link_102{background-position:0 -26px;}
#servers .alt #link_103{background-position:-71px -26px;}
#servers .alt #link_104{background-position:-142px -26px;}
#servers .alt #link_105{background-position:-213px -26px;}

#servers .list{position:absolute; top:136px; left:36px; width:527px; padding:20px; padding-top:0;}
#servers .list li{
width:64px;
height:18px;
overflow:hidden;
float:left;
background:none;
display:inline;
margin:4px 3px;
border:1px solid #0a1703;
padding:1px;
background:#eff0d6;
}
#servers .list li.empty{background:none; border:none; width:66px; height:20px;}
#servers .list a{
color:#fff;
display:block;
width:62px;
height:16px;
overflow:hidden;
line-height:18px;
text-align:center;
text-decoration:none;
background:#43382e;
border:1px solid #0a1703;
}
#servers .list a:hover,
#servers .list a.alt{background-color:#b0352b;}
#servers form{position:absolute; top:44px; left:430px;}
#servers form .text{background:url(../images/input.png) no-repeat; width:86px; color:#f4e9d5; height:18px; padding:3px; border:none; float:left; margin-top:3px;}
#servers form .submit{background:url(../images/search_btn.png) no-repeat; width:91px; height:27px; border:0; float:left; margin-left:6px; text-indent:-9999px;}
#servers .server_search{background:url(../images/input.png) no-repeat; width:90px; height:24px; line-height:24px;  padding-left:4px; border:0; color:#f4e9d5; margin-right:5px;}
#servers_search{margin: 56px 0 0 56px; font-weight: bold;}
.servers_search_right{margin-right: 48px; float:right;}
.searchOverall:link,.searchOverall:visited {color: #000;}
.searchOverall {width: 125px; height: 29px; line-height: 29px; text-align: center; background: url(../images/server-btn.png) no-repeat; display: inline-block; text-decoration: none;}

#help{background:url(../images/help_border.gif) no-repeat; width:987px; height:172px; overflow:hidden; clear:both;}
#help ul{background:url(../images/help_bg.jpg) no-repeat; width:930px; height:107px; margin:22px 8px 3px 10px; padding:20px;}
#help ul ul{background:none; width:auto; height:auto; margin:auto; padding:0;}
#help li{float:left; width:175px; padding-left:10px;}
#help li li{float:none; width:auto; background:url(../images/icons_30x30.gif) no-repeat -120px -87px; line-height:20px;}
#help a{color:#345046;}
#help a:hover{color:#2a926d;}
#help strong{width:auto; height:18px; overflow:hidden; display:block; text-indent:-9999px; background:url(../images/help.gif) no-repeat; margin-bottom:10px;}
#help .help-a strong{background-position:0 0; width:73px;}
#help .help-b strong{background-position:0 -18px; width:74px;}
#help .help-c strong{background-position:0 -36px; width:72px;}
#help .help-d strong{background-position:0 -54px; width:92px;}
#help .help-e strong{background-position:0 -72px; width:91px;}


.waiter{float:right; width:260px;}
.waiter .welcome-word{background:url(../images/words.jpg) no-repeat; width:193px; height:44px; display:block; padding:5px 5px 0px; text-align:right; color:#fffcf2}
.waiter .role{width:50px; height:50px; float:right;}
.waiter .yellow_color{color:#f5e298;}

#message{position:relative;}
#message ul{background:url(../images/icons_30x30.gif) no-repeat -90px -115px; padding-left:20px; margin:5px 10px; height:24px;}
#message li{height:24px; float:left; line-height:26px; margin-right:15px; display:inline; background:url(../images/icons_30x30.gif) no-repeat -120px -82px; padding-left:15px;}
#message a{color:#010101;}
#message a:hover{color:#945501;}
#message .more{position:absolute; top:8px; right:10px;}


/*login: 正常登录 -------------------------------------------------*/
.loginWindow { min-height: 402px; _height: 402px; }
.loginContainer {
  width: 450px;
  margin: 30px auto 0;
  padding-bottom: 30px;
  background-color: #fdfbf7;
  border-radius: 5px;
}
.loginContainer a { text-decoration: none; }
.loginCtTab { overflow: hidden; width: 100%; font-size: 18px; border-radius: 5px 5px 0 0; }
.loginCtTab .item {
  float: right; width: 50%; padding: 18px 0; text-align: center; cursor: pointer;
  background-color: #f8f2e6;
  background-size: 4px 4px;
}
.loginCtTab .active { background: transparent; cursor: default; }
.loginTabContent { width: 350px; margin: 0 auto; }
.serverInfo { font-size: 14px; padding: 15px 0; color: #666; }
.serverInfo .reselect{ float: right; color: #9e6121; }
.serverInfo .reselect:hover { color: #75996d; }
.loginOthers { font-size: 14px; margin-top: 12px; }
.loginOthers a { color: #9e6121; }
.loginOthers a:hover { color: #75996d; }
.loginOthers .forget { color: #999; float: right; }
.qrcodeContent .qrTip { font-size: 14px; padding-top: 25px; text-align: center; color: #666; }
.qrcodeContent .qrTip .em { color: #ec3d3d; }
.qrcodeContent .qrWrapper { position: relative; width: 156px; margin: 15px auto 0 auto; padding: 5px; background: #fff; }
.qrcodeContent .qrImage { width: 156px; height: 156px; }
.qrcodeContent .refreshBG { position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: #fff; opacity: 0.8; filter:alpha(opacity=80); }
.qrcodeContent .refreshCnt { position: absolute; top: 40px; left: 0; width: 100%; font-size: 14px; text-align: center; }
.qrcodeContent .refreshBt {
  display: block;
  width: 120px; height: 18px; line-height: 18px;
  margin: 15px auto 0 auto;
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background: #920933;
  border-radius: 5px;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}
.qrcodeContent .refreshBt:hover { text-decoration: none; background: #a80034; }


/*body#login: 跨服登录 --------------------------------------------*/
.loginPanel {position:absolute; top:42px; right:50px; width:360px;}

.loginForm {height:240px;overflow:hidden;}

#login_box{background:url(../images/login.jpg) no-repeat; width:988px; height:410px; margin-top:11px; position:relative;}
#login_box .message{padding:85px 0 0 50px; font-size:14px; width:520px;overflow:hidden;}
#login_box .message li{background:url(../images/icons_30x30.gif) no-repeat -120px -86px; padding-left:15px; margin-bottom:40px;}
#login_box .message a{color:#000000;}
#login_box .message li p {margin:12px 0 0 12px;}

.loginPanel{}
.loginPanel .words {text-align:center; font-weight:bold;}
.loginPanel .text{background:url(../images/input_l.png) no-repeat; width:178px; height:24px; line-height:24px; padding-left:4px; border:0; color:#f4e9d5;}
.loginPanel td{font-size:14px; padding:3px 1px; vertical-align:middle;}
.loginPanel .anonymousLogin .controls{padding:6px 0 0 60px;}

.loginTab {margin:0 0 9px 9px; width:333px; height:32px;}
.loginTab ul {}
.loginTab li {float:left;width:165px; text-align: center;margin-right: 1px; height:28px; line-height: 28px;cursor:pointer;background-color: #C8AF82; position:relative; color: #604A2C;font-size:14px;}
.loginTab li i {display:none;position:absolute; top:21px; font-family: "宋体";font-weight: normal;font-style: normal;height:14px;width:14px; overflow:hidden;line-height: 14px;left:76px;}
.loginTab li small {font-size: 12px; margin-left: 3px; color: #c00;}
.loginTab li.on {background-color: #A97720;color:#fff;font-weight: bold;}
.loginTab li.on i {display:block;color:#A97720;}
.loginTab li.on small {font-weight: normal; color: #F0D24B;}

.qrLogin {text-align: center; width: 350px;padding-top:6px; height:270px; overflow:hidden;}
.qrLogin p {margin:15px 0;}
.qrCodeImageContainer {width: 140px; height: 140px; margin: 0 auto 0 auto; text-align: left;}
.qrCodeImage {padding: 10px; background-color: white; position: absolute}
/* .qrCodeImage table, .qrCodeImage img {cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjbQg61aAAAADUlEQVQYV2P4//8/IwAI/QL/+TZZdwAAAABJRU5ErkJggg=='), url(../images/blank.cur), none;} */


/*body#role: ---------------------------------------------*/
#role h2{background:url(../images/h2.jpg) no-repeat; width:43px; height:317px; overflow:hidden; position:absolute; top:0; left:19px; text-indent:-9999px;}
#role .user-info{position:absolute; left:81px; top:30px; font-size:14px; width:330px; height:240px;}
#role .user-info dl{line-height:30px;}
#role .user-info dt{font-weight:bold; display:inline; margin-right:10px;}
#role .user-info dd{display:inline;}
#role .user-info .role{float:left; padding:5px 10px;}
#role .user-info .role dt{display:none;}
#role .user-info .role dd{width:150px; border:3px solid #3b5e51; display:block; height:203px;}
#role .user-msg{position:absolute; left:91px; top:270px; width:330px}
#role .user-msg li{background:url(../images/icons_30x30.gif) no-repeat -90px -117px; padding-left:20px;}
#role .role-Panel{position:relative; left:422px; top:0;}
#role .role-Panel .alt img{border:2px solid #c00;}

.loginPanel .keyboard{background:url(../images/icons_30x30.gif) no-repeat 0 -60px; display:block; height:22px; padding-left:25px; color:#000; font-size:13px; line-height:24px;}
/*---------------------------------------------------------------------------------------
  Style for Modules :
 */
input.normal{background:url(../images/Button.gif) no-repeat right top; width:144px; padding-right:17px; font-weight:bold; height:25px; border:0; text-align:center; line-height:27px; overflow:hidden; cursor:pointer;}
input.short{background:url(../images/Button_s.gif) no-repeat right top; width:110px; padding-right:17px; font-weight:bold; height:25px; border:0; text-align:center; line-height:27px; overflow:hidden; cursor:pointer;}
input.long{background:url(../images/Button_l.gif) no-repeat right top; width:194px; padding-right:17px; font-weight:bold; height:25px; border:0; text-align:center; line-height:27px; overflow:hidden; cursor:pointer;}

.messageBox{background:url(../images/msg_repeat.gif) repeat-y; width:581px; margin:50px auto; font-size:14px;}
.messageBox .out{background:url(../images/msg_btm.gif) no-repeat center bottom; width:581px; padding-bottom:30px;}
.messageBox .in{background:url(../images/msg_top.gif) no-repeat center top; width:421px; padding:0 80px; padding-top:50px;}
.messageBox .info{font-weight:bold; background:url(../images/icons_30x30.gif) no-repeat -90px -117px; padding-left:20px;}
.messageBox .linker{background:url(../images/icons_30x30.gif) no-repeat -120px -87px; padding-left:20px; color:#9e6121;}
.messageBox .back{background:url(../images/back.gif) no-repeat; width:115px; height:30px; float:right; text-indent:-9999px;}
.messageBox .close{background:url(../images/close.gif) no-repeat; width:115px; height:30px; float:right; text-indent:-9999px;}

.autoPass{position:absolute; top:60px; right:50px; width:360px; height:200px;}
.autoPass form{width:360px; margin:auto; margin-top:27px;}
.autoPass h3{background:url(../images/pass.gif) no-repeat; width:250px; height:27px; overflow:hidden; display:block; text-indent:-9999px;}
.autoPass .text{background:url(../images/input_l.png) no-repeat left top; width:173px; height:24px; border:0; padding-left:5px; color:#f4e9d5; line-height:24px;}
.autoPass dl{clear:both;padding:20px 0; line-height:29px; overflow:hidden;}
.autoPass dt{float:left;width:60px;font-size:14px;}
.autoPass dd{float:left;width: 300px;position:relative;} 
.autoPass .keyboard{background:url(../images/icons_30x30.gif) no-repeat 0 -60px; display:block;padding-left:25px; color:#9e6121; position:absolute; top:2px; left:187px;}
.autoPass .back{background:url(../images/back.gif) no-repeat; width:115px; height:30px; border:0;}
.autoPass .submit{background:url(../images/confirm.gif) no-repeat; width:115px; height:30px; border:0;}

.list-box{width:985px; height:auto; margin:auto; background:#f4e9d5 url(../images/list_box_repeat.jpg) repeat-y;}
.list-box .out{background:url(../images/list_box_btm.jpg) no-repeat center bottom; padding-bottom:60px;}
.list-box .in, .list-box .in-flower { padding-top:30px; position:relative; }
.list-box .in{background:url(../images/list_box_top.jpg) no-repeat center top;  overflow:hidden; height:430px; overflow:visible;}
.list-box div[class=in]{min-height:430px; height:auto;}
.list-box .in-flower { background: url(../images/list_box_flower_top.jpg) no-repeat 50% 0; min-height: 430px; _height: 430px; }

.role-Panel{background:url(../images/role_box.png) repeat-y left; width:516px;}
.role-Panel .ft{background:url(../images/role_box.png) no-repeat -516px -3px; width:516px; height:6px; overflow:hidden;}
.role-Panel .hd{background:url(../images/role_box.png) no-repeat -516px -18px; width:516px; height:6px; overflow:hidden;}
.role-Panel .bd{padding:0 6px;}

.role-Table{width:504px; border-top:1px solid #485e5e; border-left:1px solid #485e5e;}
.role-Table td{padding:30px 30px; border-right:1px solid #485e5e; border-bottom:1px solid #485e5e;}
.role-Table img{border:2px solid #6c7672; cursor:pointer}

.OperateFlow{width:885px;margin:auto;padding:20px 50px;}
.OperateFlow li{float:right; width:117px; height:26px; display:inline; margin-left:20px;}
.OperateFlow .enter{background:url(../images/enter.gif) no-repeat 0 0; width:117px; height:26px; display:block; text-indent:-9999px;}
.OperateFlow .back{background:url(../images/back.gif) no-repeat 0 0; width:117px; height:27px; display:block; text-indent:-9999px;}

/*Brows: ----------------------------------------------------------*/
.Browse{
 background:url(../images/Browse.jpg) no-repeat 0 1px;
 width:920px;
 height:78px;
 overflow:hidden;
 margin:auto;
 position:relative;
}
	.Browse li{
	 width:920px;
	 height:38px;
	 position:absolute;
	 background:none;
	}
	.Browse li a{
	 display:block;
	 width:auto;
	 height:38px;
	 text-indent:-9999px;
	}
		.Browse .browse{left:19px;}
		.Browse .sell{left:110px;}
		.Browse .myCBG{left:201px;}
		.Browse .myEasyPay{left:339px;}
		.Browse .fairshow{left:485px;}
		.Browse .gift{left:628px;position:relative;}

		.Browse .browse a{width:90px;}
		.Browse .sell a{width:90px;}
		.Browse .myCBG a{width:137px;}
		.Browse .myEasyPay a{width:137px;}
		.Browse .fairshow a{width:132px;}
		.Browse .gift a{width:142px;}
		
	.Browse li ul{visibility:hidden;}
	.Browse li.alt ul{visibility:visible;}
	
	.Browse li a.alt{background:url(../images/Browse_alt.png) no-repeat;}
	.Browse li.browse a.alt{background-position:0 -38px;}
	.Browse li.sell a.alt{background-position:0 -76px;}
	.Browse li.myCBG a.alt{background-position:0 -114px;}
	.Browse li.myEasyPay a.alt{background-position:0 -152px;}
	.Browse li.fairshow a.alt{background-position:0 -190px;}
	.Browse li.gift a.alt{background-position:0 -228px;}

	.Browse li li{
	 width:auto;
	 height:31px;
	 padding-left:10px;
	 position:relative;
	 float:left;
	 display:inline;
	 margin-top:7px;
	 margin-left:5px;
	 text-align:center;
	}
	.Browse li li a{
	 text-indent:0;
	 display:inline;
	 padding-top:8px;
	 padding-bottom:9px; 
	 padding-right:10px;
	 font-size:14px;
	 height:31px;
	 color:#573315;
	 font-weight:bold;
	 line-height:31px;
	 text-decoration:none;
	}
	
	.Browse li li.alt{
	 background:url(../images/Browse_a_alt.gif) no-repeat left top;
	}
	.Browse li li.alt a{
	 background:url(../images/Browse_a_alt.gif) no-repeat right top;
	 color:#24664c;
	}
	.Browse li li a:hover{text-decoration:underline;}
	.Browse li li.alt a:hover{text-decoration:none;}
	.Browse li li.search_browse {
	float:right;
	 margin-top:0px;
	 margin-right:18px;
	 padding-bottom:9px;
	 visibility:hidden;
	}
	.Browse li li.search_fairshow{
	 margin-top:0px;
	 margin-left:40px;
	 padding-bottom:9px;
	 visibility:hidden;
	}
	.Browse .adlink a:link,.Browse .adlink a:visited {
		font-size:12px;font-weight:normal;color:#d00;text-decoration:none;
		text-indent:0;
	}
	.Browse .adlink a:hover,.Browse .adlink a:active{
		color:#f00;text-decoration:underline;
	}

	.Browse li li.alt_search{visibility:visible;}

	.search_text_div{
		background:url(../images/input_l.png) no-repeat; 
		width:178px; 
		height:24px; 
		line-height:24px; 
		padding-left:4px; 
		border:0; 
		color:#f4e9d5;
		margin-right:5px;
		float:left;
	}
	.search_text{
		background:none;
		width:170px; 
		height:24px; 
		line-height:24px; 
		padding-left:0px; 
		border:0; 
		color:#f4e9d5;
		float:left;
	}
	.autoCompleteSelectItem{
		color:'#BA986D';
		background-color:#524A3F;
		filter: Alpha(opacity=80);   
			-moz-opacity:.8;   
			opacity:0.8;  
	}
	.autoCompleteSelectItem li{
		padding-top:3px;
	}
	
/*LayOut: ----------------------------------------------------------------------------------*/
.LayOut{width:auto; margin:auto; overflow:hidden;}
.LayOut .Column-L{float:left;}
.LayOut .Column-R{float:right;}

/*LayOut > Catalog: ------------------------------------------------------------------------*/
.Catalog{width:912px; margin-top:10px;}
.Catalog .Column-L{width:201px;}
.Catalog .Column-R{width:687px;}

.Catalog-index{background:url(../images/sideBar_repeat.jpg) repeat-y; width:201px;}
.Catalog-index .mid{background:url(../images/sideBar_btm.jpg) no-repeat center bottom;}
.Catalog-index .top{background:url(../images/sideBar_top.jpg) no-repeat center top; padding:20px 0; min-height:300px; height:auto !important; _height:300px;}

.Catalog-list-top{background:url(../images/Catalog_list_top.jpg) no-repeat; width:684px; height:22px;}
.Catalog-list-top table{width:678px; margin:auto;}
.Catalog-list-top th{line-height:20px; padding-top:2px; color:#f8e9c4; font-weight:bold; text-align:center;}

.Catalog-list-main{background:url(../images/Catalog_list_top.jpg) no-repeat #dae8e0;
	border:1px solid #000; border-top:0; padding:2px; width:678px; padding-top:0;}
.Catalog-list-main table{width:678px; border:none;}
.Catalog-list-main table th{height:22px; border:none; background:none;
	line-height:22px; color:#f8e9c4; font-weight:bold; text-align:center;}
.Catalog-list-main table td{border-bottom:1px solid #385349; 
	background:#ded0b4;  padding:10px 0; color:#03321d; vertical-align:middle; text-align:center;}
.Catalog-list-main table td.b_left{border-left:1px solid #385349;}
.Catalog-list-main table td.b_right{border-right:1px solid #385349;}

.photo img{border:1px solid #091500;}
.photo img.alt{border:1px solid #c00;}
.photo img.faman{border:0 none;margin-bottom:15px}
.Catalog-list .buy{background:url(../images/Catalog_btns.gif) no-repeat 0 0; text-indent:-9999px; display:block; width:85px; height:28px; margin:auto;}
.Catalog-list .pack{background:url(../images/Catalog_btns.gif) no-repeat -87px 0; text-indent:-9999px; display:block; width:85px; height:28px; margin:auto;}
.Catalog-list-pages{color:#03321d; padding:20px; text-align:center; font-size:14px; font-weight:bold; line-height:30px;}
.Catalog-list-pages a{margin:3px; color:#03321d; padding:5px 1px; *padding:1px; border:1px solid #121c00; background:#eff0d6; text-decoration:none;}
.Catalog-list-pages a:focus{outline:0}
.Catalog-list-pages a span{padding:3px 5px; border:1px solid #121c00; background:#ded0b3;}

/*Menu: -------------------------------------------------------------------------------------*/
.Menu{width:165px; margin:auto;}
.Menu .nodeTag{
width:auto;
height:29px;
position:relative;
overflow:hidden;
}
.Menu .open{background-position: 0 0;}
.Menu .close{background-position: 0 -30px;}
.Menu .none{background-position:-90px -118px;}
/*Menu > li: */
.Menu li{background:url(../images/Menu_root.gif) no-repeat center top; width:165px; position:relative;}
.Menu li a{
display:block;
height:38px;
font-size:14px;
font-weight:bold;
color:#283026;
text-decoration:none;
line-height:32px;
margin-left:40px;
}
.Menu li .nodeTag{height:38px;}
.Menu li.alt .nodeTag a{color:#990000;}
.Menu li.alt li .nodeTag a{color:#283026;}
.Menu li button{
float:left;
width:15px;
height:15px;
background:url(../images/icons_30x30.gif) no-repeat 0 0;
border:0;
margin-top:7px;
margin-left:17px;
cursor:pointer;
}
.Menu li ul{margin-top:5px;}
/*Menu > li > li: */
.Menu li li{
background:url(../images/Menu_li_li_bg.gif) no-repeat center top;
width:156px;
margin:auto;
margin-top:5px;
}
.Menu li li .nodeTag{height:29px;}
.Menu li li ul{
background:url(../images/Menu_li_li_ul.jpg) no-repeat center bottom;
width:123px;
margin:auto;
padding-bottom:8px;
}
.Menu li li a{
display:block;
cursor:pointer;
height:29px;
width:100px;
overflow:hidden;
margin-left:40px;
line-height:32px;
}
.Menu li li.alt .nodeTag a{color:#990000;}
.Menu li li.alt li .nodeTag a{color:#283026;}
.Menu li li button{
float:left;
width:15px;
height:15px;
background:url(../images/icons_30x30.gif) no-repeat 0 0;
border:0;
margin-top:7px;
margin-left:17px;
cursor:pointer;
}
/*Menu > li > li: */
.Menu li li li{
background:#f2eedf;
border-left:1px solid #235f59;
border-right:1px solid #235f59;
width:auto;
margin-top:0;
}
.Menu li li li a{
display:block;
margin:0 auto auto 30px;
width:auto;
height:25px;
line-height:25px;
color:#245a44;
text-decoration:none;
font-size:14px;
font-weight:bold;
padding-top:3px;
}
.Menu li li li button{
margin-top:7px;
margin-left:10px;
}
.Menu li li li.alt .nodeTag{background:url(../images/Menu_alt.png) no-repeat  5px  5px;}
.Menu li li li ul{background:none; width:auto; margin:0;}
/*Menu > li > li > li: */
.Menu li li li li{background:none; border:none; padding-left:10px;}
.Menu li li li li a{
background:none;
width:auto;
font-size:12px;
font-weight:normal;
text-decoration:underline;
color:#3c2d0a;
background:url(../images/icons_30x30.gif) no-repeat -30px -167px;
padding-left:12px;
margin-left:10px;
}
.Menu li li li li.alt{background:url(../images/Menu_alt.png) no-repeat  5px  -75px;}
/*
.Menu .sub{height:29px; text-indent:-9999px; width:130px; margin:auto;}
.Menu .sub span{float:left; width:112px; height:23px; margin-top:3px; margin-left:18px; background:url(../images/Menu_sub_words.gif) no-repeat;}

.Menu #zhuang-bei .close span{background-position:0 -23px;}
.Menu #dao-ju .close span{background-position:-336px  -23px;}
.Menu #zhao-huan-shou .close span{background-position:-224px  -23px;}
.Menu #da-hua-bi .close span{background-position:-112px  -23px;}

.Menu #zhuang-bei .open span{background-position:0 0;}
.Menu #dao-ju .open span{background-position:-336px 0;}
.Menu #zhao-huan-shou .open span{background-position:-224px 0;}
.Menu #da-hua-bi .open span{background-position:-112px 0;}
*/
/*Menu > Help: --------------------------------------------------------------*/
.Help li{background-image:url(../images/Help_root.gif);}
.Help ul{background:url('/images/Help_repeat.gif') repeat-y; width:154px; margin:5px auto;}
.Help ul li{background:url('/images/Help_btm.gif') no-repeat center bottom; width:154px; padding-bottom:13px; margin:0;}
.Help ul li ul{background:url('/images/Help_top.gif') no-repeat center top; width:154px; padding-top:13px; padding-bottom:0; margin:0;}
.Help ul li li{background:none; padding-bottom:0;}
.Help ul li li ul{padding-top:5px; padding-bottom:5px;}

/*Suggest: ------------------------------------------------------------------*/
#Suggest{position:absolute;background:#4b4339;width:120px;border:1px solid #c5bcab;}
#Suggest div{background:#4b4339;color:#ba986d;padding-left:4px;cursor:hand;text-align:left;}
#Suggest div.over{color:#e3b57d;background:#2e2a25;}

/*Popout: --------------------------------------------------------------------*/
.Popout{width:414px;}
.Popout .hd{background:url(../images/Popout_top.gif) no-repeat; height:20px;}
.Popout .bd{background:url(../images/Popout_repeat.gif) repeat-y; overflow:hidden; padding:1px 0;}
.Popout .ft{background:url(../images/Popout_btm.gif) no-repeat; height:15px;}
/*Popout-a: ------------------------------------------------------------------*/
.Popout-a{width:414px;}
.Popout-a .hd{background:url(../images/Popout2_top.gif) no-repeat; height:15px;}
.Popout-a .bd{background:url(../images/Popout2_repeat.gif) repeat-y; overflow:hidden;}
.Popout-a .ft{background:url(../images/Popout2_btm.gif) no-repeat; height:15px;}

.largePic img{border:1px solid #503b2a;}
.largePic{float:left; display:inline; margin:15px; margin-top:0;}

.introText{color:#fff; font-size:14px; padding:20px; padding-top:0; font-weight:lighter; line-height:120%}
.introText .yellow{/*color:#f4faab;*/color:yellow}
.introText .green{color:#59cb69;}
.introText .orange{color:#c58b47;}
.introText .blue{color:#6bcff4;}
.introText .purple{color:#8178af;}
.introText .white{color:#FFFFFF;}

.Detail-top{background:url(../images/Catalog_list_top.jpg) no-repeat; width:684px; height:22px;}
.Detail-top h3{color:#EECF7D; line-height:23px; text-indent:2em; background:transparent none repeat scroll 0 0}
.Detail-main{border:1px solid #001012; border-top:0; padding:1px; padding-top:0; width:680px; background:#d2fff6;}
.Detail-main .in{background:#ded0b4; border:1px solid #001012; overflow:hidden; padding:10px;position:relative; height:auto;}
.Detail-main .Detail-in{background:#ded0b4; border:1px solid #001012; overflow:hidden; padding:10px;height:auto;}
.Detail-main dl{padding-left:140px; font-size:14px; line-height:30px;}
.Detail-main .pic{float:left; margin-left:60px; border:2px solid #47695a; padding:1px; background:#fff; height:106px; overflow:visible; display:inline;}
.Detail-main dl dt{font-weight:bold; display:inline;}
.Detail-main dl dd{display:inline; color:#1c7b54;}
.Detail-main dl dd.price{color:#cc0000; font-weight:bold;}
.Detail-main .Popout{margin:10px;}
.Detail-main .info{border-top:1px dotted #527f6d; padding-left:140px; padding-top:10px;}
.Detail-main .info p{color:#03321d; font-size:14px; font-weight:bold;}
.Detail-main .info ol{list-style:decimal; color:#765504; padding-left:0px;}
.Detail-main .info li{margin-left:25px;}
.Detail-main .info .buy{background:url(../images/buy.gif) no-repeat; width:117px; height:30px; margin:10px; border:0; text-indent:-9999px; *text-indent:0; line-height:300px;}
.Detail-main .info .back{background:url(../images/back.gif) no-repeat; width:115px; height:30px; margin:10px; border:0; text-indent:-9999px; *text-indent:0; line-height:300px;}

#Order .Detail{width:898px; margin:10px auto;}
#Order .Detail-top{background:url(../images/Detail_top.jpg) no-repeat; width:898px;}
#Order .Detail-main{width:894px;}
#Order .Detail-main .in{padding:15px 0; overflow:visible;}
#Order .Detail-main .Detail-in{padding:15px 0; overflow:visible;}
#Order .Detail-main .pic{left:60px; top:20px; height:auto; width:auto;}
#Order .Detail-main .info{border-top:1px dotted #527f6d; padding-left:140px; padding-top:10px;}
#Order .Detail-main .info p{margin-left:0px;width:100%}
#Order .Detail-main dl dt{color:#03321d;}
#Order .Detail-main dl{padding-left:10px; margin-left:230px; margin-right:200px;}
#Order .Detail-main .info{margin-left:230px; margin-right:9px; padding-left:10px}

#MyCBG .Detail{width:898px; margin:10px auto;}
#MyCBG .Detail-top{background:url(../images/Detail_top.jpg) no-repeat; width:898px;}
#MyCBG .Detail-main{width:894px;}
#MyCBG .Detail th,
#MyCBG .Detail td{line-height:20px; padding-top:2px; color:#f8e9c4; font-weight:bold; text-align:center;}
#MyCBG .Detail .Detail-main td{color:#03321d;}
#MyCBG .Detail-top table{width:100%;}
#MyCBG .Detail-main td{border-bottom:1px solid #03321d; padding:10px;}
#MyCBG .Detail-main table{width:892px; background:#ded0b4; border-left:1px solid #000; border-right:1px solid #000; margin:auto; border-top:0;}
#MyCBG .Detail-main table td{border-bottom:1px solid #385349; padding:10px; color:#03321d; vertical-align:middle; text-align:center;}

.TipBox{width:872px; margin:20px auto; margin-bottom:40px; color:#c00;}
.TipBox .hd{background:url(../images/TipBox_top.gif) no-repeat; width:872px; height:7px; overflow:hidden;} 
.TipBox .bd{background:#f2eedf; border-left:1px solid #235f59; border-right:1px solid #235f59; padding:10px 20px;}
.TipBox .ft{background:url(../images/TipBox_btm.jpg) no-repeat; width:872px; height:7px; overflow:hidden;}

#MyMessage .Detail{width:898px; margin:10px auto;}
#MyMessage .Detail-top{background:url(../images/Detail_top.jpg) no-repeat; width:898px;}
#MyMessage .Detail-top a{color:#F8E9C4}
#MyMessage .Detail-main{width:894px;}
#MyMessage .Detail-main a{color:black}
#MyMessage .Detail th,
#MyMessage .Detail td{line-height:20px; padding-top:2px; color:#f8e9c4; font-weight:bold; text-align:center;}
#MyMessage .Detail .Detail-main td{color:#03321d;}
#MyMessage .Detail-top table{width:100%;}
#MyMessage .Detail-main td{border-bottom:1px solid #03321d; padding:10px;}
#MyMessage .Detail-main table{width:892px; background:#ded0b4; border-left:1px solid #000; border-right:1px solid #000; margin:auto; border-top:0;}
#MyMessage .Detail-main table td{border-bottom:1px solid #385349; padding:10px; color:#03321d; vertical-align:middle; text-align:center;font-weight:lighter}
#MyMessage .Catalog-list-pages{width:894px; margin:auto; padding:0; text-align:left;}
#MyMessage .del{background:url(../images/del.gif) no-repeat; width:87px; height:27px; overflow:hidden; float:right; border:0; line-height:300px; text-indent:-9999px; *text-indent:0;}
#MyMessage h3{background:transparent none no-repeat scroll 0 0;color:#EECF7D;line-height:23px;text-indent:2em}
.msg_light{background:url(../images/icons_30x30.gif) no-repeat -60px -148px; padding-left:20px; color:#a40211; display:block; margin-top:10px;}

#Help .Catalog-list-main .in{background:#ded0b4; border:1px solid #001012; border-top:0; overflow:hidden; padding:10px;position:relative; height:auto;}

/*Arti: -----------------------------------------------------------------------*/
.Arti{padding:10px 30px; font-size:14px; color:#3e5a50;}
.Arti-Title{background:url(../images/Arti_Title_bg.gif) no-repeat; width:597px; height:38px; line-height:38px; text-align:center; font-weight:bold;}
.Arti-Cont{margin:15px auto;}
.Arti img{border:3px solid #4d7062; display:block; margin:auto;}
.Arti .tablepad{border-top:1px solid #4d7062;border-left:1px solid #4d7062; border-right:0; width:auto; margin-top:10px; margin-bottom:10px;}
.Arti  table[class=tablepad]{margin:10px auto;}
.Arti .tablepad td{padding:5px;border-bottom:1px solid #4d7062;border-right:1px solid #4d7062; background:#efefdf; color:#03321d; }
.Arti .tablepad thead td{font-weight:bold; text-align:center;}
.Arti .tableblue td{background:#d9bf79;}


/*------------------for top------------------------------------------------*/
#top {background:transparent url(../images/index_02.jpg) repeat-x scroll 0 0;height:30px}
#top_in {margin:0 auto;width:988px}
#top_in .col1 {float:left;width:139px}
#top_in .col2 {float:right;padding-top:5px;}
#top_in .col2 a {color:#a2826d;margin:0 15px;font-size:12px;text-decoration:none}

/*-------------------fair show-----------------------*/
.tishi {
	padding: 5px;
	border: 1px solid #ff0000;
	color: #ff0000;
}

/*-------------------sale-----------------------*/
#Sale .Detail{width:898px; margin:10px auto;}
#Sale .Detail-top{background:url(../images/Detail_top.jpg) no-repeat; width:898px;}
#Sale .Detail-top h3{background:none; text-indent:2em; line-height:23px; color:#eecf7d;}
#Sale .Detail-main{width:894px;}
#Sale .Detail-main .in{padding:15px 0;border-top:0;}
#Sale .Detail-main .pic{left:60px; top:20px;}
#Sale .Detail-main .info{border:0; padding-left:0; padding-left:60px;}
#Sale .Detail-main dl dt{color:#03321d; width:150px;float:left; text-align:right;}
#Sale .Detail-main dl{padding-left:10px; margin-left:100px; margin-right:200px; clear:both; border-bottom:1px dotted #cbb17c; height:40px; line-height:40px;}
#Sale .Detail-main .info{margin-left:120px; margin-right:120px;}

/*---------------------pay pop div--------------------------*/
.information_line{
	border-bottom:1px dashed #B7BAD6; 
	height:1px; 
	margin-bottom:5px; 
	margin-top:5px; 
	overflow:hidden
}
.window_border {
	height: 319px;
	width: 484px;
	border: 1px solid #ccccee;
	background-color: #ffffff;
}
.open_window_in {
	height: 315px;
	width: 480px;
	border: 1px solid #ccccee;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1px;
}
.open_window_con {
	height: auto;
	width: 450px;
	padding-top: 25px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 14px;
	line-height: 170%;
}
.shuxing {
	background-color: #D5D7E7;
	height: auto;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 10px;
}
.open_window_con p {padding-top:3px; padding-bottom:3px}

/*#MsgContent: -----------------------------------------------------------------------------------*/
#MsgContent .Detail{width:898px; margin:10px auto;}
#MsgContent .Detail-top{background:url(../images/Detail_top.jpg) no-repeat; width:898px;}
#MsgContent .Detail-top h3{background:none; text-indent:2em; line-height:23px; color:#eecf7d;}
#MsgContent .Detail-main{width:894px;}
#MsgContent .Detail-main .in{padding:15px 0;border-top:0;}
#MsgContent .Detail-main .pic{left:60px; top:20px;}
#MsgContent .Detail-main .info{border:0; padding-left:0; padding-left:60px;}
#MsgContent .Detail-main dl dt{color:#03321d; width:70px;float:left; text-align:right;}
#MsgContent .Detail-main dl{padding-left:10px; margin-left:100px; margin-right:200px; clear:both; border-bottom:1px dotted #cbb17c; height:40px; line-height:40px;}
#MsgContent .Detail-main .info{margin-left:120px; margin-right:120px;font-weight:normal;color:#1c7b54; padding-top:0;}
#MsgContent .Detail-main .info p{font-weight:normal;color:#1c7b54;}
#MsgContent .msg_detail_btn {width:850px;padding:10px;margin:auto;text-align:right}


/*.MsgBox: -----------------------------------------------------------------------*/
.MsgBox{width:340px; margin:auto}
.MsgBox .hd{background:url(../images/MsgBox_hd.gif) no-repeat; width:340px; height:49px; padding-top:1px}
.MsgBox .bd{background:url(../images/MsgBox_bd.gif) repeat-y;}
.MsgBox .ft{background:url(../images/MsgBox_ft.gif) no-repeat; width:340px; height:62px;}
.MsgBox .hd h6{background:url(../images/MsgBox_title_bar.gif) no-repeat; width:285px; height:22px; overflow:hidden; line-height:23px; color:#f7e9c6; text-align:center; margin-left:30px; margin-top:20px;}
.MsgBox .bd table{margin-left:30px; font-size:14px; color:#000;}
.MsgBox .bd td{padding:3px;}
.MsgBox .bd .text{border:1px solid #000; background:#544a3f; color:#f4e9d5; width:220px;}
.MsgBox .bd .textBox{border:1px solid #000; padding:1px; background:#eff0d6;}
.MsgBox .bd .textBox div{border:1px solid #000; background:#544a3f; width:270px; height:200px; color:#f4e9d5; font-size:14px; 
	line-height:16px; overflow-y:auto; overflow-x:hidden;}
.MsgBox .bd a{color:#993300;}

/*----------------------------Agreement-------------------------------------------*/
#Agreement{width:898px; margin:10px auto;}
#Agreement .Detail-top{background:url(../images/Detail_top.jpg) no-repeat; width:898px;}
#Agreement .Detail-main{width:894px;}
#Agreement .Detail-main .in{padding:15px 0; height:400px; overflow-y:scroll; border-top:0; font-size:14px;}

/*---role-----*/
.introText dl{width:250px; padding-left:0px}
.introText dl dt, .introText dl dd{float:left; line-height:150%}
.introText dl dt{color:#9f9271; width:70px; font-weight:normal}
.introText dl dd{color:#dcca9c; width:170px;}

/*-2010-04-16*/
.filter_bar_xy2{height:22px; padding:3px 10px 6px; text-align:right; font-size:12px; line-height:22px; background-color:#89A095;}
.filter_bar_xy2 label{color:#2D5C49; vertical-align:middle;}
.filter_bar_xy2 .i_text{width:85px; height:17px; padding:1px; margin-right:5px; vertical-align:middle; color:#DCEDE7; border:1px solid #415F55; border-right-color:#C4CFC9; border-bottom-color:#C4CFC9; background-color:#668A7A;}
.filter_bar_xy2 img{vertical-align:middle;}
.filter_bar_xy2 .filter_button{width:40px; height:19px; line-height:15px; margin:0 5px; padding:0; vertical-align:middle; font-size:12px; color:#D2FFF6; background:#668A7A; border:1px solid #415F55; border-top-color:#C4CFC9; border-left-color:#C4CFC9;}
.autoComplete{color:#BA986D;background-color:#524a3f;border:1px solid #000000;display:none;position:absolute;z-index:1000}
.autoComplete ul{border-bottom:1px solid #ccc;cursor:pointer;height:17px;padding:2px;padding-left:5px;text-align:text;}

.latest_view_btn_float{
	background-color: #DED0B4;
	color:#08374A;
	cursor:pointer;
	font-size:14px;
	font-weight:bold;
	height: 25px;
	line-height:25px;
	text-align:center;
	vertical-align:middle;
	width:140px;
	display:none;
}

.fixed {
	position:fixed;
	_position:absolute;
	top:41px;
	right:0;
}
.latest_view_icon{
	height: 40px;
	width: 40px;
}
.command_img_border2{
	border: 1px solid #FF0000;
}

#bind_phone_con {
	margin:20px;
}
#bind_phone_con p{
    margin: 10px 0;
}
#bind_phone_con label{
    display:inline-block;
    width:150px;
    text-align:right;}
.phone_status_tip{
    margin:20px;
	padding-bottom:15px;
    border-bottom:1px solid #566d83;}

.phone_status_tip span.red{
    color:red;}

.unbind_tip{
    margin:20px;
    padding:0 10px;}
.unbind_tip p{
    margin: 10px 0;}
.red_em{
    color:red;
    font-size:14px;}

.mobile_check_back{
    background: url(../images/check.gif) no-repeat 10px 0;
	padding-left:65px;}

.mobile_warn_back{
    background: url(../images/warn.gif) no-repeat 10px 0;
	padding-left:65px;}

.first,.middle,.last{color:#fff;font-size:14px;}
.first{background:#900}
.middle{background:#090;}
.last{background:#009;}
.p_space {
	margin:20px;
	padding-left:65px;}
.p_space p{
	margin: 10px 0;}
.red_tip{
	color:red;}
.red_12{
	color:red;
	font-size:12px;}
.phone_input{
    width:150px;
}
.mobile_command_tip{
	padding-bottom:3px;
	padding-top:2px;}

.pageCover {filter:alpha(opacity=70);  -moz-opacity:0.7; opacity:0.7; width:100%; z-index:9999; 
	background-color:#000000; position:absolute; left:0; top:0; display:none;}
.popupWin {position:absolute; left:0; top:0; margin:auto; color:#333;
	width:570px;border-radius:5px; display:none; z-index:10000; font-size:14px;border:3px double #9EA0BF; background-color:#EDEDF4;}
.popupWin ul {padding:6px 0;}
.popupWin .popCont {padding:12px 32px;}
.popupWin .popCont .error {background-image:none; margin:24px auto; background-color:#fff;}
.popupWin .popCont .message { padding:9px 12px; font-size:12px; line-height:20px; margin:12px auto;border:1px solid #9EA0BF; background-color:#fff;}
.popupWin li {margin:9px auto;}
.popupWin p {line-height:22px; margin:12px 0;}
.popupWin .ursTip {margin:auto;}
.popupWin .closeBtn {position: absolute;right: 6px; top: 6px;width: 16px;height: 16px; display: block;line-height: 18px;overflow: hidden;text-align: center;border-radius: 3px;}
.popupWin .closeBtn:hover,.popupWin .closeBtn:active {text-decoration: none;background-color:#B4B4D3;color: #fff; }

.buy_shelf{	position:absolute;	left:820px;	top:39px;background:url(../images/buy_shelf2.jpg) no-repeat;padding-left:27px;font-size:14px;font-weight:bold;}

.buy_shelf a:link {
	color:#be2a18;
	text-decoration:none;}
.buy_shelf a:visited {color:#be2a18;
	text-decoration:none;}
.buy_shelf a:hover {color:red;
	text-decoration:underline;}
.listTip {display:none;position:absolute;z-index:999;}
.listTip {width:614px;}
.listTip .hd {background-image:url(../images/Popout_top.png);}
.listTip .bd {background-image:url(../images/Popout_repeat.png);}
.listTip .ft {background-image:url(../images/Popout_btm.png);}
.listTipSmall .hd{background:url(../images/Popout_top.gif) no-repeat; height:20px;}
.listTipSmall .bd{background:url(../images/Popout_repeat.gif) repeat-y; overflow:hidden; padding:1px 0;}
.listTipSmall .ft{background:url(../images/Popout_btm.gif) no-repeat; height:15px;}




.OverallBrowse{
	 background:url(../images/overall_navigate.jpg) no-repeat 0 1px;
}

/* over all search */
.searchForm {margin:0 auto;}
.searchForm th,.searchForm td {padding:3px 6px;}
.searchForm th {text-align:right;}
.searchForm td {}

.searchForm input[type="text"]{
	text-align:right;
}

.searchForm tr{
	line-height: 25px;
}

.searchForm tr th{
	text-align:left;
}

.searchForm tr td.rightBorder{
}


/* 最近浏览和精灵 begin */
.hasLayout{overflow:hidden; clear:both;}
.pannel {position:fixed; z-index:101; width:184px; top:44px; _position:absolute; right:-152px;}
.pannel .handler { position:absolute; left:0;width:32px;}
.pannel h2 {cursor:pointer; color:#d9f4ff;}
.pannel h2 a {display:block; width: 16px; padding:13px 8px 0; text-align:center; height: 70px;line-height:1.2em;background: url(../images/spritetag.png) no-repeat;}

.pannel a:link,.pannel a:visited {text-decoration:none;color:#283026;}
.pannel a:hover,.pannel a:active {text-decoration:underline; color:#6B8965;}

.pannel h2.spr a {background-position:0 -83px; padding-top:40px; height:69px;}

.pannel h2 a:hover,.pannel h2 a:active {text-decoration:none;}
.pannel h2 a:hover,.pannel h2.on a {}
.pannel .recentList {width:148px; position:absolute; left:32px; background-color:#4C6E5E; padding:2px;}

.recentList ul {background-color:#fff; _height:200px; min-height:200px; background-color:#F9F9FB; overflow:visible;}
.recentList li {clear:both; overflow:hidden; padding:6px; border-bottom:1px solid #4C6E5E; _zoom:1;}
.recentList img {float:left; display:inline; margin-right:6px;}
.recentList h3 {font-weight:bold; padding:3px 0 6px;}

.spriteDia {background-color:#4C6E5E; position:absolute; width:355px; left:-361px; z-index:1000; display:block; top:83px; padding:3px; display:none;}
.spriteDia a.close {float:right; padding:2px 1px 0px; line-height:1em;+padding:3px 2px 0;}

.spriteTab {padding:2px 0 0;}
.spriteTab ul {float:left;}
.spriteTab li {float:left;}
.spriteTab li h3 {}
.spriteTab h3 a {display:block; float:left; background-color:#6B8965; height:20px; padding:0 6px; border-radius:3px 3px 0 0;}
.spriteTab li a { line-height:20px; margin-right:4px; display:inline;}
.spriteTab li a:link,.spriteTab li a:visited {color:#F8E9C4;}
.spriteTab li a:hover,.spriteTab li a:active {color:#A2DFFF;color:#fff;}
.spriteTab li h3 a:hover,.spriteTab li h3 a:active {background-color:#759f63; text-decoration:none;}

.spriteTab li.on a:link,.spriteTab li.on a:visited {color:#4C6E5E; font-weight:bold; background-color:#fff;}
.spriteTab li.on a:hover,.spriteTab li.on a:active {color:#759f63;}

.sprList .B:link,.sprList .B:visited,.sprList .B:hover,.sprList .B{color:#0000FF;}
.sprList .G:link,.sprList .G:visited,.sprList .G:hover,.sprList .G{color:#008000;}
.sprList .Y:link,.sprList .Y:visited,.sprList .Y:hover,.sprList .Y{color:#FFA500;}
.sprList .W:link,.sprList .W:visited,.sprList .W:hover,.sprList .W{color:#000000;}
.sprList .R:link,.sprList .R:visited,.sprList .R:hover,.sprList .R{color:#FF0000;}
.sprList .P:link,.sprList .P:visited,.sprList .P:hover,.sprList .P{color:#FF3399;}

#hot_questions a:link,#hot_questions a:visited{text-decoration:underline;}
.spriteDia a.close:link,.spriteDia a.close:visited {color:#fff;}
.spriteDia a.close:hover,.spriteDia a.close:active {text-decoration:none; background-color:#759f63;}
.sprList {background-color:#fff; padding:9px 6px; height:240px; overflow-y:auto;}
.sprList .hotqa,.sprList .keys {line-height:22px;}
.sprList .hotqa {padding:12px;}
.sprList .keys {float:right; padding:9px 18px; background-color:#fffdeb; border:1px solid #ffdf92; line-height:20px; margin:9px 9px 0 0;}
.sprList .keys h4 {color:#666; font-weight:bold;}
.sprList .hotqa a:link,.sprList .hotqa a:visited {text-decoration:underline; color:#008cd5;}
.sprList .hotqa a:hover,.sprList .hotqa a:active {color:#e66c00;}
.sprList dl {line-height:18px;}
.sprList dl dt {margin:6px auto 3px; color:#008CD5;}
.sprList dl dd {color:#333;}
.sprList dl dd a {text-decoration:underline;}
.sprForm {background-color:#fff; margin-top:3px; padding:3px; position:relative;}
.sprForm .q {border:none; width:298px; padding:3px; margin-right:6px; color:#999; border:1px solid #ccc;}
.sprForm .s {width:32px; height:22px; padding:0; line-height:20px; border:1px solid #008CD5; background-color:#4C6E5E;cursor:pointer; color:#fff;}
.sprForm .s:hover {background-color:#759f63;}
.sprForm .auto {position:absolute; display:none; left:-2px;_left:-5px; top:30px; border:1px solid #008CD5; background-color:#FFFFff; width:252px;}
.sprForm .auto li {padding:5px; cursor:pointer;}
.sprForm .auto li.on {background-color:#FFFF99;}

.spriteMM {width:224px; height:57px; margin:0 auto; padding:24px 80px 12px 12px; background:url(../images/spbg.png) no-repeat;}
.spriteMM h5 {padding:3px 0 5px;}
.spriteMM input {cursor:pointer; background:url(../images/btn.png) repeat-x top; border:1px solid #ccc; padding:2px 6px; margin-left:12px;}

html,body{_overflow-x:hidden;}
.mibaoTip {font-size:14px;}
.mibaoTip li{background:url(../images/icons_30x30.gif) no-repeat -120px -86px; padding-left:15px; margin-bottom:40px;}
.mibaoTip a:link, .mibaoTip a:visited {color:#000000;}
.searchForm {margin:0;}
.tbWraper {padding: 12px 24px;}
.tbWraper h3 {font-size: 14px; font-weight:bold; color: #416855; margin: 12px 0;}
.handler2 {width:40px; text-align:center; cursor:pointer; margin:-14px auto 0;background:url(../images/handler1.png) no-repeat center top; padding:15px 0 9px; font-size: 14px; font-weight: bold; color: #8D0916;}
.handlerOff {background-image: url(../images/handler2.png); margin-top: -1px;}			
.advance_search {border:1px solid #000; background:#d9e9df; padding:2px; margin-bottom:10px;}
.advance_search .advance_cont {border:1px solid #385349; background:#ded0b5; clear:both; padding:12px 20px 0;}
.advance_search .advance_cont h1 {font-size:16px; font-weight:bold; line-height:25px; color:#385349;}
.advance_search .advance_cont div{line-height:25px; margin-bottom:15px;}
.advance_search .advance_cont input[type="text"], .advance_search .advance_cont select{border: 1px solid #4a6c5e;}
.advance_search .advance_cont .pet_left{}
.advance_search .advance_cont .fixed_label{}
.overall_table_cont { background: url(../images/overall_head.jpg) #d9e9df no-repeat; padding: 0 2px 2px; border:1px solid #000; border-top:none; }
.overall_table_cont table{width:100%;}
.overall_table_cont table th{color: #F8E9C4;font-weight:bold;line-height: 20px; padding-top: 2px;text-align: center;}
.overall_table_cont table th a:link,.overall_table_cont table th a:visited {color:#96ce4e;text-decoration:none;}
.overall_table_cont table th a:hover,.overall_table_cont table th a:active {color:#afed5e;}


.overall_table_cont table td{border-bottom:1px solid #385349; background:#ded0b4; padding:10px 0; color:#03321d; 
	vertical-align:middle; text-align:center; padding:10px; font-weight:400;}
.overall_table_cont table td.b_left{border-left:1px solid #385349;}
.overall_table_cont table td.b_right{border-right:1px solid #385349;}
/* 最近浏览和精灵 begin */
.mobileLink {width: 99px;height: 20px; overflow: hidden;line-height: 100em;background: url(../images/mobile-ico.png) no-repeat;float: left;display: inline;margin: 48px 0 0 38px;}

.mobileLink:hover{background-position: 0 -20px;}

.gameLogo {width:190px;height:70px; overflow: hidden; float:left; display: block; text-indent:-9999px;}

.listSearch {background-color: #DED0B4; border: 3px double #385349; margin: 0 0 12px;padding:12px;}
.listSearch table {margin: 6px 0 12px;}
.listSearch h3 {font-size: 14px; font-weight: bold; color: #385349;}
.listSearch td {padding: 3px;}

/*收购*/
.Catalog-list-main .detailTb {width: 100%;}
.Catalog-list-main .detailTb th,.Catalog-list-main .detailTb td {padding: 3px 6px;height:auto;background:#F4E9D5 none; color: #333;}
.Catalog-list-main .detailTb th {background-color: #E0C48D; border-bottom: 1px solid #385349;font-weight: normal;}
.Catalog-list-main .detailTb td { border-bottom: 1px solid #C7C5B4;}
.detailBtn a { background: url(../images/arr-down.png) no-repeat right center;padding: 0 12px; cursor: pointer;}
.detailBtn a.on {background-image: url(../images/arr-up-ico.png);}
.Catalog-list-main .detailTb .red {color: #a00;}
.purchase{margin: 0 9px 0 230px;}
.purchase .dotted {border-top: 1px dotted #527F6D; height: 18px;}
.purchase table {margin:0 0 18px;}
.purchase th,.purchase td {padding: 3px 6px;}
.purchase th {text-align: right;}
.f14px {font-size: 14px;}

/*收购单*/
.orderList {margin: 0 18px;}
.orderList .detailTb {width: 100%; border: 1px solid #000607;}
.orderList .detailTb th,.orderList .detailTb td {padding: 3px 6px;auto;background:#F4E9D5 none; color: #333; text-align:center;}
.orderList .detailTb th {background-color: #E0C48D; border-bottom: 1px solid #385349;font-weight: normal;}
.orderList .detailTb td { border-bottom: 1px solid #C7C5B4;}
.detailBtn a { background: url(images/arr-down.png) no-repeat right center;padding: 0 12px; cursor: pointer;}
.detailBtn a.on {background-image: url(images/arr-up-ico.png);}
.orderList .detailTb .red {color: #a00;}

.appstoreBtn,.androidBtn {width: 229px;height: 60px;overflow:hidden;line-height:100em;float:left;outline: none;display: inline;}
.appstoreBtn{background: url(../images/app-btn.png) no-repeat;}
.androidBtn{background: url(../images/android-btn.png) no-repeat;margin-left: 18px;}

.slide {width:960px; height:60px; overflow:hidden;margin:0 auto;position:relative;}
.slide ul {position:absolute;}
.slide li {z-index:10;}
.slide div {position:absolute; right:6px; bottom:3px; z-index:11;}
.slide div a {border:1px solid #ccc; background-color:#fff; display:inline-block; width:14px; height:14px; overflow:hidden; line-height:16px; text-align:center; margin-left:6px;font-size:10px;text-decoration:none;}
.slide div a.on {background-color:#D3563A; color:#fff; border-color:#fff;}

/* 代付款 */

.tbInner {width:859px; margin:0 auto; background:url(../images/tb3-bg.png) no-repeat;border:1px solid #0E1415; border-width:0 1px 1px 1px;}
.tbInner tr {border-left:1px solid #0E1415; border-right:1px solid #0E1415;}
.tbInner th {color:#F8E9C4;font-weight:bold;text-align:center;}
.tbInner td {background-color:#D6C5A2;vertical-align:middle;padding:6px;border-bottom:1px solid #BCAD8E;}
.highLight {background-color:#506B62;color:#fff; padding:3px 6px; margin:0 9px;}

.oblPrice {font-weight:bold; color:#03321D; font-size:18px;}
.bigPrice {color:#c00;font-size:24px; font-weight:bold;}
.oblInfo {padding:24px 24px 0; text-align:right;line-height:2em;}
.seller {margin:24px 18px 9px;}

.oblDetail {padding:12px 32px; clear:both; overflow:hidden;}
.oblDetail ul {float:left; margin:12px 0 0 0;line-height:24px;}
.oblDetail .thum {float:right;background-color:#CDBD9B;padding:12px;border:1px solid #0E1415;width:200px;}
.oblDetail .thum img {float:left;margin-right:9px;}

/*全服搜索*/
.txt01 {background-color:#fff;border:1px solid #ccc;padding:3px;}
.overallTb {}
.overallTb th,.overallTb td {padding:6px 0;font-size:14px;vertical-align:top;text-align:left;}
.overallTb th {color:#24664C; padding-top:9px;}
.overallTb_pub {border-top:1px solid #C9C9C9; margin-top:18px;}

.overallTb ul {clear:both;overflow:hidden;}
.overallTb li {float:left; cursor:pointer; height: 38px; line-height: 38px; margin:0 6px 6px 0; white-space:nowrap;background:url(../images/para-bg.png) no-repeat right -38px;}
.overallTb li span {background:url(../images/para-bg.png) no-repeat left 0;display:block;padding:0 9px;font-size:12px;}
.overallTb li.on {color:#fff;background-position:right -114px;}
.overallTb li.on span {background-position:0 -76px;}
.advance_search .advance_cont_overall {background-color:#F9F0E1;
