<!--#CGIEXT# expand include/head_login.pat -->
<style>
	.tb01 td.noResult h6 { padding: 40px 0; }
</style>
<script type="text/javascript" src="<!--ResUrl-->/js/kind_data.js"></script>
<script type="text/javascript" src="<!--ResUrl-->/js/equip_name.js"></script>
<script type="text/javascript" src="<!--ResUrl-->/js/searchable_equip_names.js"></script>
<script type="text/javascript" src="<!--ResUrl-->/js/saleable_pet_name.js"></script>
<script type="text/javascript" src="<!--ResUrl-->/<!--static_version-->/js/String.Crypt.js"></script>
<script type="text/javascript" src="<!--ResUrl-->/<!--static_version-->/js/xyq_setting.js"></script>
<script type="text/javascript" src="<!--ResUrl-->/<!--static_version-->/js/equip_query_com.js"></script>
<script type="text/javascript" src="<!--ResUrl-->/<!--static_version-->/js/query.js"></script>
<script type="text/javascript" src="<!--ResUrl-->/<!--static_version-->/js/recommd.js"></script>
<script type="text/javascript">
var SearchTypes = <!--search_type_info-->;
var SearchArg = {};
var SearchType = 0;
var FairShowType = 'pass_fair_show';
var MaxStaticDepth = <!--STATIC_DEPTH-->;
var NoStaticKindIds = <!--NO_STATIC_KIND_IDS-->;
var RecommdInfo = '<!--recommd_info-->';
var equip_refer_loc = '<!--equip_refer_loc-->';

var CommonVar = {
	'act': '<!--act-->',
	'auction_condition': '<!--auction_condition-->',
	'auction_overall': <!--auction_overall-->,
	'server_id': '<!--server_id-->',
	'areaid': '<!--area_id-->',
	'server_name': '<!--HTMLENCODE(server_name)-->',
	'page': <!--cur_page-->,
	'query_order': '<!--query_order-->'
};

var DefaultQueryOrder = '<!--default_query_order-->';
var CheckVar = <!--check_var-->;
var QueryVar = <!--query_var-->;

var trace_log_name = ['search', 'show_equip_detail', 'recommd_in_equip_detail_page'];

function display_appointed_equip(){
	$$('.soldImg img').each(function(el, index){
		var equipid = el.getAttribute('data_equipid');
		var appointed_id = el.getAttribute('data_appointed_roleid').trim();
		if(appointed_id){
			$('appointed_tip_msg_' + equipid).style.display = 'inline';
		}
		var equip_status = el.getAttribute('data_status');
		if (equip_status == EQUIP_AUCTION) {
			var msg = get_auction_price_additional_msg(equip_status,
				+el.getAttribute('data_auction_status'), +el.getAttribute('data_auction_bid_count'),
				CommonVar.auction_condition);
			if (msg) {
				$('auction_msg_' + equipid).innerHTML = msg;
				$('auction_msg_' + equipid).style.display = 'inline';
			}
		}
	});
}

function highlight_senior_shoujue(){
	$$('#soldList .equip_name').each(function(el, index){
		var equip_type = el.getAttribute('data_equip_type');
		if(equip_type != '611' && equip_type != '18521')
			return;
		var html = el.get('html').trim();
		if(is_advanced_yaojue(html))
			el.set('html', '<span class="cRed">' + html + '</span>');
	});
}

window.addEvent('domready', function(){
	var auction_condition = CommonVar.auction_condition;
	if(auction_condition) {
		$("top_auction_menu").addClass("on");
		$("menu_query_auction_" + auction_condition) && $("menu_query_auction_" + auction_condition).addClass("on");
	} else {
		$("top_buy_menu").addClass("on");
	}

	if (CommonVar.page !== 1){
		$$('#soldList tbody').setStyle('display', '');
	}

	if (if_need_display_highlight()){
		if (QueryVar["highlight_filter"]){
			QueryVar["highlight_filter"] = QueryVar["highlight_filter"].replace(/\&quot;/g, '"');
		}
	}

	if (auction_condition == 'special1') { // 无级别专区
		show_kind_tree([1, 23, 27, 56, 60]);
	} else if (auction_condition) {
		show_kind_tree([23, 27, 56, 60]);
	} else {
		show_kind_tree();
	}
	init_advance_search_box();
	init_search_text();
	check_search_panel();
	init_sub_nav();
	reg_tips_event();
	check_offsale_equips();
	check_user_msg();
	display_appointed_equip();
	highlight_senior_shoujue();

	init_recommend_menu();

	if (QueryVar.kindid != undefined && QueryVar.kindid !=""){
		$("kind_a_" + (QueryVar.kindid || 0)).addClass("on");
	}

	init_auction_conditions();
	init_equip_list_collect('list');
});
</script>
<!--#CGIEXT# expand include/kind_tree_templ.pat -->
<!--#CGIEXT# expand include/tips_in_list_page.pat -->
<!--#CGIEXT# expand include/search_templ.pat -->
<style type='text/css'>
	.goodsInfo{
		margin-left: 0px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.guessTitle{
		line-height: inherit;
		margin-top:15px;
		margin-bottom:15px;
	}

	.guessTitle h4{
		float: left;
		font-size: 14px;
		font-weight: bolder;
	}
</style>

<div id="recommd_result_templ" style="display:none;">
<!--
	<%	var equips = this.equips;
		var className = "";
		if(equips.length % 2 == 1){
			className = "even";
		}

		for(var i=0;i<equips.length;i++){
			var equip = equips[i];
			if (equip.storage_type != StorageStype["role"]){
				var url = ResUrl + "/images/small/" + equip.equip_face_img;
			}else{
				var icon = get_role_icon(equip.other_info.trim());
				var url =  ResUrl + "/images/role_icon/small/" + icon + ".gif";
			}

			if(className === "even"){
				className = "";
			}else{
				className = "even";
			}
	%>
	<tr <% if(className != ""){ %>class="<%=className %>" <%}%> recommd="true" >
		<td>
			<a href="<!--CgiRootUrl-->/equipquery.py?act=buy_show_by_ordersn&ordersn=<%=equip.game_ordersn %>&server_id=<%=equip.server_id %>" class="soldImg" onclick="save_equip_price_info('<%=equip.game_ordersn %>', <%=equip.price %>)" onmousedown="save_equip_price_info('<%=equip.game_ordersn %>', <%=equip.price %>)">
				<img id="equip_img_<%=equip.game_ordersn %>" alt="物品" width="50" height="50" data_serverid="<%= equip.serverid %>" data_equipid='<%=equip.game_ordersn %>' data_equip_name='<%=equip.equip_name %>' data_equip_type_desc='<%=equip.equip_type_desc %>' data_storage_type='<%=equip.storage_type %>' data_equip_img="<%=equip.equip_face_img %>" data_equip_type="<%=equip.equip_type %>" data_appointed_roleid='<%=equip.appointed_roleid %>' data_price='<%=equip.price %>' data_selling_time='<%=equip.selling_time %>' data_create_time='<%=equip.create_time %>' data_kindid='<%=equip.kindid %>' data_status='<%=equip.status %>' data_ordersn='<%=equip.game_ordersn %>' data_recommd_tag='<%=equip.tag %>' src="<%=url %>" />
			</a>
			<textarea id="equip_desc_<%=equip.game_ordersn %>" style="display:none">
				<%=equip.other_info %>
			</textarea>
		</td>
		<td class="equip_name" data_equip_type="<%=equip.equip_type %>">
			<%=equip.equip_name %><br />
			<span><script>document.write(desc_4_mhb(<%=equip.equip_count %>));</script></span>
		</td>
		<td><%=equip.equip_level %></td>
		<td>
			<%=get_color_price(parseFloat(equip.price)) %>
			<br/>
			<span id="appointed_tip_msg_<%=equip.game_ordersn %>" class="f12px cDarkRed" style="display:none;">已指定买家</span>
		</td>

		<%=gen_highlight(equip.highlights) %>

		<td><%=equip.min_buyer_level %>级</td>
		<td><%=equip.expire_time %></td>
		<td>
			<a href="<!--CgiRootUrl-->/equipquery.py?act=buy_show_by_ordersn&ordersn=<%=equip.game_ordersn %>&server_id=<%=equip.server_id %>" onclick="save_equip_price_info('<%=equip.game_ordersn %>', <%=equip.price %>)" class="btn1">购买</a>
		</td>
	</tr>
	<% } %>
-->
</div>

<div id="CommonTableHeader" style="display:none">
<!--
		<th width="70">图片</th>
		<th>名称</th>
		<!--#CGIEXT# TableLevelThBegin: -->
		<th width="55">等级</th>
		<!--#CGIEXT# TableLevelThEnd: -->
		<th width="100">价格
			<!--#CGIEXT# PriceOrderIconBegin: -->
			<button class="up" onclick="search_order_by('price', 'ASC')" /></button>&nbsp;<button class="down" onclick="search_order_by('price','DESC')"></button>
			<!--#CGIEXT# PriceOrderIconEnd: -->
		</th>
       <!--#CGIEXT# TableUnitPriceThBegin: -->
        <th>单价
        <!--#CGIEXT# UnitPriceOrderIconBegin: -->
            <button class="up" onclick="search_order_by('unit_price', 'ASC')"></button>
        <!--#CGIEXT# UnitPriceOrderIconEnd: -->
        </th>
        <!--#CGIEXT# TableUnitPriceThEnd: -->
		<th width="80">购买要求</th>
		<th width="120">出售剩余时间</th>
		<th width="95"></th>
-->
</div>

<div id="HighlightHeader" style="display:none">
<!--
		<th width="70">图片</th>
		<th>名称</th>
		<th width="30">等级</th>
		<th width="80">价格
        <!--#CGIEXT# HighlightPriceOrderIconBegin: -->
			<button class="up" onclick="search_order_by('price', 'ASC')" /></button>&nbsp;<button class="down" onclick="search_order_by('price','DESC')"></button>
        <!--#CGIEXT# HighlightPriceOrderIconEnd: -->
		</th>
		<th width="90">亮点</th>
		<th width="60">购买要求</th>
		<th width="120">出售剩余时间</th>
		<th width="95"></th>
-->
</div>

<div id="AuctionHeader" style="display:none">
<!--
<th width="60">图片</th>
<th>名称</th>
<th>等级</th>
<th>当前价格</th>
<% if (this.highlight) { %>
<th>亮点</th>
<% } %>
<th>购买要求</th>
<% if (CommonVar.auction_overall) { %>
<th>服务器</th>
<% } %>
<th>剩余时间</th>
<th></th>
--></div>

<div class="areaTop"></div>
<div class="area subArea">
	<!--#CGIEXT# expand include/user_info.pat -->
	<div class="areaHead">
		<div class="nav">
			<!--#CGIEXT# expand include/top_menu.pat -->
		</div>
	</div>

	<div class="subNav" id="querySubNav">
		<!--#CGIEXT# SubMenuQueryBegin: -->
		<!--#CGIEXT# expand include/menu_query.pat -->
		<!--#CGIEXT# SubMenuQueryEnd: -->
		<!--#CGIEXT# SubMenuAuctionBegin: -->
		<!--#CGIEXT# expand include/menu_auction.pat -->
		<!--#CGIEXT# SubMenuAuctionEnd: -->
	</div>

	<div class="content hasLayout">

		<div class="menu" id="kind_tree_panel"></div>
		<div class="rightCont">
		<p class="cDYellow" style="padding:6px 9px; display:none;">角色交易是把卖家通行证下的那个角色移动到买家的通行证下，而不是把卖家的通行证给买家</p>

		<div class="guess goodsInfo searchForm" id="recommd_result_panel" style="display:none">
		</div>

		<div class="searchForm" id="advance_search_panel" style="display:none;"></div><!--search panel-->

		<!--#CGIEXT# AuctionSortBegin: -->
		<div class="listNav">
			<div id="auction_sort_templ"><!--
<li class="js-listNavItem">
<% if (this.sortKey + " " + this.sortDir == DefaultQueryOrder) { %>
<a class="on" data-sort="" href="#" tid="web_auc_3">综合排序</a>
<% } else { %>
<a data-sort="" href="#" tid="web_auc_3">综合排序</a>
</li>
<% } %>
<% for (var i = 0; i < this.sortInfo.length; ++i) { var info = this.sortInfo[i]; %>
	<li class="js-listNavItem">
	<% if (this.sortKey == info.key) {
		var reverseTid = info.tid + "_" + (this.sortDir == "DESC"?2:1);
	%>
	<a class="on <%=this.sortDir.toLowerCase()%>" data-sort="<%= info.key %> <%= this.reverseOrder[this.sortDir] %>" tid="<%=reverseTid %>" href="#"><%= info.label %></a>
	<% } else { %>
		<a href="javascript:;"><%= info.label %></a>
		<ul class="dropdown js-dropdown" style="display: none;">
			<li><a data-sort="<%= info.key %> DESC" class="desc" href="#" tid="<%=info.tid %>_1"><%= info.DESC %></a></li>
			<li><a data-sort="<%= info.key %> ASC" class="asc" href="#" tid="<%=info.tid %>_2"><%= info.ASC %></a></li>
		</ul>
	<% } %>
	</li>
<% } %>
			--></div>
			<ul class="listNavL" id="auction_sort_container"></ul>
			<ul class="listNavR" id="auction_overall_toggle">
				<li><a data-overall="0" href="javascript:;" tid="web_auc_7_1">本服</a></li>
				<li><a data-overall="1" href="javascript:;" tid="web_auc_7_2">全服</a></li>
			</ul>
		</div>
		<!--#CGIEXT# AuctionSortEnd: -->

<table width="100%" id="soldList" class="tb01" cellspacing="0" cellpadding="0" border="0">
	<thead>
	<tr>
		<script>document.write(gen_table_header());</script>
	</tr>
	</thead>
	<tbody style="display:none">
<!--#CGIEXT# EquipListEmptyBegin: -->
	<tr>
		<td colspan="10" class="noResult">
			<h6 class="cRed"><!--equip_list_empty_msg--></h6>
		</td>
	</tr>
<!--#CGIEXT# EquipListEmptyEnd: -->
<!--#CGIEXT# EquipListBegin: -->
	<tr>
		<td>
			<a href="<!--HTMLENCODE(equip_detail_url)-->" <!--equip_detail_link_target--> class="soldImg" onclick="save_equip_price_info('<!--game_ordersn-->', <!--price-->)" onmousedown="save_equip_price_info('<!--game_ordersn-->', <!--price-->)">
				<img id="equip_img_<!--game_ordersn-->" alt="物品" width="50" height="50" data_serverid='<!--serverid-->' data_equipid='<!--HTMLENCODE(game_ordersn)-->' data_equip_name='<!--HTMLENCODE(equip_name)-->' data_equip_type_desc='<!--HTMLENCODE(equip_type_desc)-->' data_storage_type='<!--storage_type-->' data_equip_img="<!--HTMLENCODE(equip_face_img)-->" data_equip_type="<!--HTMLENCODE(equip_type)-->" data_appointed_roleid='<!--appointed_roleid-->' data_price='<!--price-->' data_selling_time='<!--selling_time-->' data_create_time='<!--create_time-->' data_kindid='<!--kindid-->' data_status='<!--status-->' data_ordersn='<!--HTMLENCODE(game_ordersn)-->' data_auction_status='<!--auction_status-->' data_auction_bid_count='<!--auction_bid_count-->' data_collect_refer='<!--collect_refer-->' data_view_loc='<!--view_loc-->' data_recommd_tag='<!--recommd_tag-->' data_equip_level='<!--equip_level-->'/>
			</a>
			<textarea id="equip_desc_<!--HTMLENCODE(game_ordersn)-->" style="display:none">
				<!--other_info-->
			</textarea>
    		<script>set_equip_extra_info("<!--game_ordersn-->", <!--storage_type-->, "<!--equip_face_img-->");</script>
		</td>
		<td class="equip_name" data_equip_type="<!--HTMLENCODE(equip_type)-->">
			<!--HTMLENCODE(equip_name)--><br />
			<span><script>document.write(desc_4_mhb(<!--equip_count-->));</script></span>
		</td>
		<!--#CGIEXT# TableLevelTdBegin: -->
		<td><!--equip_level--></td>
		<!--#CGIEXT# TableLevelTdEnd: -->
		<td>
			<script>document.write(get_color_price(<!--price-->))</script>
			<br/>
			<span id="appointed_tip_msg_<!--game_ordersn-->" class="f12px cDarkRed" style="display:none;">已指定买家</span>
			<div id="auction_msg_<!--game_ordersn-->" class="f12px cDarkRed" style="display:none"></div>
		</td>
		<!--#CGIEXT# TableMoneyUnitPriceTdBegin: -->
		<td>
			<!--unit_price_desc-->元/万两</strong>
		</td>
		<!--#CGIEXT# TableMoneyUnitPriceTdEnd: -->

		<script>document.write(gen_highlight(<!--highlights-->));</script>

		<td><!--min_buyer_level--></td>
		<!--#CGIEXT# TableServerNameTdBegin: -->
		<td><!--equip_area_name--><br><!--equip_server_name--></td>
		<!--#CGIEXT# TableServerNameTdEnd: -->
		<td><!--expire_time--></td>
		<td>
			<a href="<!--HTMLENCODE(equip_detail_url)-->" <!--equip_detail_link_target--> onclick="save_equip_price_info('<!--game_ordersn-->', <!--price-->)" class="btn1"><!--action_desc--></a>
			<!--#CGIEXT# TableCollectTdBegin: -->
			<span class="equipListCollect <!--collect_on-->" data-game_ordersn="<!--game_ordersn-->"></span>
			<!--#CGIEXT# TableCollectTdEnd: -->
		</td>
	</tr>
<!--#CGIEXT# EquipListEnd: -->
	</tbody>
</table>

<div class="blank12"></div>
<!--#CGIEXT# expand include/pager.pat -->

<!--#CGIEXT# EmptyRecommandTableBegin: -->
<p class="snrTitle">精选推荐</p>
<table id="snrTable" class="snrTable soldList tb01">
	<thead>
		<tr>
			<script>document.write(gen_table_header());</script>
		</tr>
	</thead>
	<tbody>
		<script>
			(function() {
				var $table = $('snrTable');
				var $body = $table.getElement('tbody');

				var params = {
					act: 'recommd_by_collects',
					serverid: ServerInfo.server_id,
					count: 10,
					cross_server: 1,
					page: 1
				};
				new Request.JSONP({
					url: Recommd.url,
					onSuccess: function(result) {
						if (result.status !== 1) {
							return failure();
						}
						var html = render('recommd_result_templ', {
							equips: result.equips
						});
						$body.set('html', html);
						$body.getElements('.soldImg img')
							.addEvent('mouseover', show_tips_box)
							.addEvent('mouseout', hidden_tips_box);
					},
					onFailure: failure
				}).send({
					data: params
				});

				function failure() {
					$body.set('html', '<tr><td colspan="20">没有推荐数据</td></tr>');
				}
			})();
		</script>
	</tbody>
</table>
<a href="<!--CgiRootUrl-->/query.py?act=query" class="snrMore">查看全部商品</a>
<div class="blank12"></div>
<!--#CGIEXT# EmptyRecommandTableEnd: -->


			</div>
		</div>
</div>
<div class="areaBtm"></div>

<!--#CGIEXT# QueryCollectPopupBegin: -->
<!--#CGIEXT# expand include/popup_collect.pat -->
<!--#CGIEXT# QueryCollectPopupEnd: -->

<!--#CGIEXT# expand include/mobile_ad.pat -->
<!--#CGIEXT# expand include/footer.pat -->
